{{ partial "top2.html"}}

<header>
  <script src="{{ "js/loading.js" | absURL }}"></script>
  <link rel="stylesheet" href="{{ "css/homepage.css" | absURL }}">

  <div class="overlay"></div>

  <video playsinline="playsinline" width="1920" height="1080" autoplay="autoplay" muted="muted" loop="loop">
      <source src="https://poliwatvideos.s3.us-east-2.amazonaws.com/kyokopoliwat.mp4" type="video/mp4">
      <source src="https://poliwatvideos.s3.us-east-2.amazonaws.com/kyokopoliwat.webm" type="video/webm">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1><a href="/tags/logs">Listen</a></h1>
        <h2><a href="/about">Watch</a></h2>
        <h4><a href="/tags/podcasts">CV</a></h4>
        <h5><a href="/tags/projects">Contact</a></h5>
      </div>
    </div>
  </div>
</header>
