/* your styles go here */

html, p, h1, h2, h3, h4, h5, h6, div, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Courier New", Courier, monospace;
  /* color: #ffffff !important; */
}

h1 .span .baffle {
  color: #ffffff !important;
}

/* a:hover, a:focus {
  color: #ffffff !important;
} */

#sidebar, #sidebar h5, #sidebar .box-masonry-text, .box-masonry h4 a {
  color: #3C3B6E;
  text-transform: capitalize;
}
#sidebar a {
  color: #ffffff;
}

.content-column-content p, .content-column-content li {
    color: #000000;
}

.box-masonry .box-masonry-text p, .sidebar-p {
    color:#ffffff;
}

.box-masonry h4 a {
  color: #f2f2f2;
}

.sidebar-menu li.active a {
    /* color: #ffffff; */
}

.sidebar-menu li a {
    color: #ffffff;
}

.sidebar-menu li.active:hover {
  /* color: #f2f2f2; */
}

.box-masonry h4 a:hover {
    border-bottom: dotted 1px #ef5285;
    color: #ffffff;
    text-decoration: none;
}

.content-column {
    background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6,  {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.2;
}

.sidebar-p {
  color: #ffffff;
}

.container-fluid {
  background: rgb(00,00,00);
  background: linear-gradient(180deg, rgba(26,44,76,1) 37%, rgba(38,66,115,1) 67%, rgba(49,88,155,1) 93%);
}

.box-masonry, .box-masonry p-wrap {
  background-color: #000000;
}

.box-masonry, .box-masonry p-wrap {
    background-color: #000000;
}

.sidebar-menu li::before {
    font-family: 'FontAwesome';
    content: '\f105';
    margin: 0 5px 0 -15px;
    color: #ffffff;
}
.sidebar-menu li::after {
  /* color: #ffffff; */
}

.sidebar-menu li a {
  color: #ffffff;
}
