<script src="{{ "js/loading.js" | absURL }}"></script>

<div id="loader">
  <div class="loading">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>

<div id="content" class="cv">
<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">

        <h1 class="sexy">Works</h1>

        <p>Poetics 2, Spring 2019 / San Francisco, CA</p>
        <p>She sitting pretty but new fad that JS framework, December 2018 / Santa Cruz, CA</p>
        <p>ALCOHOL type beat (feat. Illest Village), December 2018 / Santa Cruz, CA</p>
        <p>She Breaking Glass Ceiling, September 2018 / Santa Cruz, CA</p>
        <p>will I die lonely silly, January 2019 / Santa Cruz, CA</p>
        <p>Forest Mother Meets The Blob, July, 2018 / Palo Alto, CA</p>
        <p>Pale Blue Dawt, Fall-Summer 2018-2019 / Palo Alto, CA</p>
        <p>Ecopoca, June 2018 / San Francisco, CA</p>
        <p>The Sims’ Sims, February 2018 / San Francisco, CA</p>
        <p>Nature ++1, June 2017 / Santa Cruz, CA</p>
        <p>Song From Downstairs, Jan 2017 / Utah</p>
        <p>Rethinking Natural History, April 2017 / Santa Cruz, CA</p>
        <p>github.center.wav, August, 2017 / Santa Cruz, CA</p>
        <p>Marquetteiquette, August 13, 2017 / Marquette, Michigan</p>
        <p>Nodingbat, June, 2016 / Santa Cruz, CA</p>
        <p>Songs, part 3, April 8, 2016 / Nipomo, CA</p>
        <p>guitars in nature, February 2016 / Nipomo, CA</p>
        <p>Robert Frost, January 2015 / Nipomo, CA</p>
        <p>Homebrew Piano, August 30, 2015 / Santa Cruz, CA</p>
        <p>WESPR Radio Drafts, August 2015 / Santa Cruz, CA</p>
        <p>The human aquarium, Aug 2015 / Santa Cruz, CA</p>
        <p>Bus Sessions, November 2014 / Santa Cruz, CA</p>
        <p>Jaded Mike, July 2014 / Los Angeles, CA</p>
        <p>Natural Mike, July 2014 / Big Sur, CA</p>
        <p>Single Mike, May 2014 / Santa Cruz, CA</p>
        <p>Cheesy the Bus session with Andrea Lopez, June 2014 / Santa Cruz, CA</p>
        <p>Songs, Part 2  February 2014 / Nipomo, CA</p>
        <p>The World’s only good DJ, July 2014 / Nipomo, CA</p>
        <p>Songs, Part 1 (album, music) 2013 / Nipomo, CA</p>
        <p>3 Mormons, 2012 / Santa Cruz, CA</p>

        <!-- <code>background-color</code> of the <code>.overlay</code> class in the CSS -->

        <p class="mb-0">
          Site by <a href="https://michaelwilliambetts.github.io/">Michael Betts</a>
        </p>

      </div>
    </div>
  </div>
</section>

</div>
