{{ partial "top.html" }}

<header>
  <div class="overlay"></div>

  <!-- <video playsinline="playsinline" width="1920" height="1080" autoplay="autoplay" muted="muted" loop="loop">
      <source src="https://poliwatvideos.s3.us-east-2.amazonaws.com/poliwatwebbg3.mp4" type="video/mp4">
      <source src="https://poliwatvideos.s3.us-east-2.amazonaws.com/poliwatwebbg3.webm" type="video/webm">
  </video> -->
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <!-- <h1><a href="https://open.spotify.com/artist/7Jn4iPQ4xOje3URpWzD27A?si=LonD5PGSQ5qadWNfQVoyDQ">Listen</a></h1>
        <h2><a href="https://www.youtube.com/channel/UCJ90WzG8RJSMYy_1HudyabQ">Watch</a></h2> -->
        <h4><a href="/cv">CV</a></h4>
        <h5><a href="/contact">Contact</a></h5>
        <h6><a href="https://paleblue.fm">Paleblue.fm</a></h6>
        <p style="opacity: 9%;"><a href="/tags/logs">Pilots Logs</a></p>
        <p><a href="https://poliw.at/tags/songs">Songbook</a></p>
      </div>
    </div>
  </div>

<div class="overlay"></div>

  <div>
  <video playsinline="playsinline" width="1920" height="1080" autoplay="autoplay" muted="muted" loop="loop">
      <source src="https://poliwatvideos.s3.us-east-2.amazonaws.com/poliwatwebbg2.mp4" type="video/mp4">
      <source src="https://poliwatvideos.s3.us-east-2.amazonaws.com/poliwatwebbg2.webm" type="video/webm">
  </video>
  </div>

</header>
