<div id="sidebar" class="col-xs-12 col-sm-12 col-md-12 sidebar-offcanvas">
  <div class="sidebar-content">
    <div class="copyright">
      <a href="{{ .Site.BaseURL }}">
        <img src="/img/poliwat-logo-sm.png" alt="POLIW.AT LOVES YOU"><br>
      </a>

      <p class="credit">
        {{ with .Site.Params.copyright }}
          {{ . | safeHTML }}
        {{ end }}
        {{ partial "attribution.html" . }}
        <h1><a href="{{ .Site.BaseURL }}listen/">Music</a> \\ <a href="{{ .Site.BaseURL }}video/">Vizzies</a></h1>
      </p>
      <!-- <h6>Other Logs:</h6>
      {{ range .Data.Pages }}
      <h4><a href="{{ .Permalink }}"> <span class="baffle">{{ .Title  }}</span></a></h4>
      {{ end }} -->


    </div>

    <!-- <ul>
            <p><a href="{{ .Site.BaseURL }}tags/">Tags</a></p>
    {{ range .Site.Taxonomies.tags }}
            <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> {{ .Count }}</li>
    {{ end }}
    </ul> -->
  </div>

<!-- <div>
  <iframe title="deezer-widget" src="https://widget.deezer.com/widget/dark/album/156490012" width="100%" height="300" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</div> -->

</div>
