<script src="{{ "js/loading.js" | absURL }}"></script>
<link rel="stylesheet" href="{{ "css/homepage.css" | absURL }}">

<div id="loader">
  <div class="loading">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>

<div id="content">

<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" width="1920" height="1080" autoplay="autoplay" muted="muted" loop="loop">
      <source src="https://poliwatvideos.s3.us-east-2.amazonaws.com/kyokopoliwat.mp4" type="video/mp4">
      <source src="https://poliwatvideos.s3.us-east-2.amazonaws.com/kyokopoliwat.webm" type="video/webm">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1><a href="/about">poliw.at</a></h1>
        <h5>Mixed Media Artist</h5>
        <h1><a href="/tags/songs">Songs</a></h1>
        <h5>aka Michael Betts</h5>
        <h1><a href="/tags/podcasts">Podcast</a></h1>
        <h1><a href="/tags/projects">Projects</a></h1>
      </div>
    </div>
  </div>
</header>
</div>
